* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --blackBackground: hsl(240, 5%, 7%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vw;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

#rotateAnimation {
  animation: rotation 15s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

#userLink {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

#userLink:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

li img {
  border-radius: 0.75rem;
}

.upMove {
  transition-duration: 0.3s;
}

.upMove:hover {
  transform: translateY(-0.5rem);
}

/*=========== MEDIA QUERIES ===========*/
/* medium device: 720 > */
@media (min-width: 720px) {
  main {
    background: url(images/backgroundDesk.svg);
    position: absolute;
    width: 22.375rem;
    height: 33.75rem;

    background-position: center;
  }

  #degrade {
    background: url(images/degrade.svg);
    background-color: black;
  }

  #strip {
    background: url(images/strip.svg);
    width: 4rem;
    height: 9.875rem;
    z-index: 3;

    position: absolute;

    margin: -41.3rem auto 0 auto;
  }

  #blackStrip {
    background: url(images/blackStrip.svg);
    width: 5rem;
    height: 0.5rem;
    z-index: 2;

    position: absolute;

    margin: -31.3rem auto 0 auto;
  }
}
